*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
    /* cursor: pointer; */
}
.search-btn{
    border: 0;
    padding: 0.9rem;
    border-radius: 7px;
    font-weight: bold;
    background-color: #fd2422;
    cursor: pointer;
    color: white;
}
input{
    padding: 13px 12px;
    outline: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgb(35, 35, 35);
}